<div class="container">
  <md-grid-list cols="10" rowHeight="fit" style="background:#f2f2f2">
    <md-grid-tile colspan="4">
      <div class="go-binary">
        <div>Download<br><i>torus-upload</i></div>
        <br>
        <div><i class="fa fa-windows" aria-hidden="true"></i><i class="fa fa-apple" aria-hidden="true"></i><i class="fa fa-linux"
            aria-hidden="true"></i></div>
        <br>
        <pre>./torus-upload -token {{auth.sessionId}} -file /path/to/image.png</pre>
      </div>
    </md-grid-tile>
    <md-grid-tile colspan="6">
      <md-card class="container-table">
        <table cellspacing="0" cellpadding="4">
          <tr>
            <th><button (click)="goConfig()" md-raised-button [disabled]="noChecked()">Compute</button></th>
            <th>Name</th>
            <th>Size</th>
            <th>Last Modified</th>
            <th></th>
          </tr>
          <tr *ngFor="let file of listFiles" [class.active]="checkedList[file.name]">
            <td><div class="squaredFour"><input type="checkbox" [(ngModel)]="checkedList[file.name]" value="None" [id]="'cb'+file.name" name="check"/><label [for]="'cb'+file.name"></label></div></td>
            <td class="name">{{ file.name }}</td>
            <td class="size">{{ file.size | byte }}</td>
            <td class="lastm">{{ file.last_modified }}</td>
            <td><i mdTooltip="Rename" (click)="renameFile(file.name)" class="material-icons">edit</i><i mdTooltip="Delete" (click)="deleteFile(file.name)" class="material-icons">clear</i></td>
          </tr>
        </table>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>
