<div class="container">
  <md-grid-list cols="5" rowHeight="fit">
    <md-grid-tile colspan="2" style="background: #03A9F4">
      <div class="go-binary">
        <div>Download<br><i>torus-upload</i></div>
        <br>
        <div><i class="fa fa-windows" aria-hidden="true"></i><i class="fa fa-apple" aria-hidden="true"></i><i class="fa fa-linux"
            aria-hidden="true"></i></div>
        <br>
        <pre>./torus-upload -token {{auth.sessionId}} /path/to/image.png</pre>
      </div>
    </md-grid-tile>
    <md-grid-tile colspan="3" style="background:#FF5252;">
      <div class="container-table">
        <table cellspacing="0" cellpadding="10">
          <tr>
            <th></th>
            <th>Name</th>
            <th>Size</th>
            <th>Last Modified</th>
            <th></th>
          </tr>
          <tr *ngFor="let file of listFiles" md-no-ink>
            <td><div class="squaredFour"><input type="checkbox" [(ngModel)]="checkedList[file.name]" value="None" [id]="'cb'+file.name" name="check"/><label [for]="'cb'+file.name"></label></div></td>
            <td class="name">{{ file.name }}</td>
            <td class="size">{{ file.size | byte }}</td>
            <td class="lastm">{{ file.last_modified }}</td>
            <td><i (click)="renameFile(file.name)" style="font-size: 3rem;" class="material-icons">edit</i><i (click)="deleteFile(file.name)" style="font-size: 3rem;" class="material-icons">clear</i></td>
          </tr>
          <tr>
            <td><button (click)="goConfig()" md-raised-button>Compute</button></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </table>
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>
