<div class="container">
  <md-grid-list cols="3" rowHeight="fit">
    <md-grid-tile colspan="1" [style.background]="'lightgreen'">
      <div class="go-binary">
        <div>Go Binary</div>
        <div><i class="fa fa-windows" aria-hidden="true"></i><i class="fa fa-apple" aria-hidden="true"></i><i class="fa fa-linux" aria-hidden="true"></i></div>
      </div>
    </md-grid-tile>
    <md-grid-tile colspan="2" [style.background]="'lightblue'">
      <div>
        <pre>./torus-upload image.png</pre>
      </div>
    </md-grid-tile>
  </md-grid-list>
</div>
