.container {
  box-sizing: border-box;
  text-align: center;
}

md-grid-list {
  height: calc(100vh - 49px);
  width: 100%;
}

.go-binary {
  font-size: 3rem;
}

i.fa {
  margin: 0 2vw;
  font-size: 6rem;
}

i.fa:hover {
  color: #4285f4;
  cursor: pointer;
}

.material-icons {
  font-size: 2rem;
}

pre {
  background: white;
  padding: 4vh;
  border-radius: 2vh;
  font-size: 1rem;
}

.container-table {
  height: 100%;
  width: 100%;
  background: #f2f2f2;
  box-sizing: border-box;
}

table {
  font-size: 2rem;
  width: 100%;
  max-height: 100%;
}

table th {
  color: rgba(0, 0, 0, .54);
  font-size: 1.4rem;
}

table td {
  color: rgba(0, 0, 0, .72);
  font-size: 1.4rem;
}

table tr:not(:first-child) {
  background: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

table tr:first-child {
  height: 70px;
}

table tr:not(:first-child).active {
  background: #4285f4;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
}

table i:hover {
  cursor: pointer;
  color: #4285f4;
}

table .active i:hover {
  color: white;
}

.squaredFour {
  width: 20px;
  position: relative;
  margin: 20px auto;
  display: inline-block;
}

.squaredFour label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #fcfff4;
  border-radius: 4px;
  box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.squaredFour label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.squaredFour label:hover::after {
  opacity: 0.5;
}

.squaredFour input[type=checkbox] {
  visibility: hidden;
}

.squaredFour input[type=checkbox]:checked+label:after {
  opacity: 1;
}
