<div class="container">
  <md-grid-list cols="2" rowHeight="fit">
    <md-grid-tile colspan="1" style="background: #03A9F4">
      <div><span style="font-size: 4rem;">Manon Bossuet</span><br><em style="font-size: 2rem;">Ceci est une super citation !</em></div>
    </md-grid-tile>
    <md-grid-tile colspan="1" style="background:#FF5252;">
      <div><span style="font-size: 4rem;">Paul Boutes</span><br><em style="font-size: 2rem;">Elle est où la poulette ?</em></div>
    </md-grid-tile>
    <md-grid-tile colspan="1" style="background:#FF5252;">
      <div><span style="font-size: 4rem;">Raphaël Ehret</span><br><em style="font-size: 2rem;">Ceci est une super citation !</em></div>
    </md-grid-tile>
    <md-grid-tile colspan="1" style="background: #03A9F4">
      <div><span style="font-size: 4rem;">Thomas Viau</span><br><em style="font-size: 2rem;">Pas de survivant ? Comment les légendes prendraient forme dans ce cas là ?</em></div>
    </md-grid-tile>
  </md-grid-list>
</div>
