<div class="container">
  <md-grid-list cols="2" rowHeight="fit">
    <md-grid-tile colspan="1" style="background: #03A9F4">
      <div><span style="font-size: 3rem;">Manon Bossuet</span><br><em>Ceci est une super citation !</em></div>
    </md-grid-tile>
    <md-grid-tile colspan="1" style="background:#FF5252;">
      <div><span style="font-size: 3rem;">Paul Boutes</span><br><em>Elle est où la poulette ?</em></div>
    </md-grid-tile>
    <md-grid-tile colspan="1" style="background:#FF5252;">
      <div><span style="font-size: 3rem;">Raphaël Ehret</span><br><em>Ceci est une super citation !</em></div>
    </md-grid-tile>
    <md-grid-tile colspan="1" style="background: #03A9F4">
      <div><span style="font-size: 3rem;">Thomas Viau</span><br><em>Pas de survivant ? Comment les légendes prendraient forme dans ce cas là ?</em></div>
    </md-grid-tile>
  </md-grid-list>
</div>
