<div style="font-family: Roboto; padding: 20px">
  <h2>LDAP EISTI - {{ message }}</h2>
  <form>
    <div *ngIf="!authService.isLoggedIn">
      <md-input-container><input mdInput type="text" placeholder="Username" name="username" [(ngModel)]="username"></md-input-container><br></div>
    <div *ngIf="!authService.isLoggedIn">
      <md-input-container><input mdInput type="password" placeholder="Password" name="password" [(ngModel)]="password"></md-input-container><br></div>
    <button md-raised-button (click)="login()" *ngIf="!authService.isLoggedIn">Login</button>
    <button md-raised-button (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
  </form>
</div>
