server {
	listen 80 default_server;
	listen [::]:80 default_server;
    
    # Chemin vers le repertoire 'dist'
	root /usr/share/nginx/html/;
	server_name _;
   
    location /api/streaming/ {
        proxy_http_version 1.1;
        proxy_set_header Connection '';
        proxy_buffering off;
        proxy_cache off;
        chunked_transfer_encoding off;
        proxy_pass http://localhost:12345/streaming/;
    }

    location /api/ {
        proxy_pass http://localhost:12345/;
    }

    location / {
        try_files $uri $uri/ /index.html index.html =403;
    }
}
