<nav md-tab-nav-bar md-stretch-tabs md-selected="currentTab">
  <div class="mat-tab-link"><strong>Torus Front</strong></div>
  <a [hidden]="auth.isLoggedIn" md-tab-link routerLink="/login" routerLinkActive="active" #logi="routerLinkActive" [active]="logi.isActive">Login</a>
  <a [hidden]="!auth.isLoggedIn" md-tab-link routerLink="/logout" routerLinkActive="active" #logo="routerLinkActive" [active]="logo.isActive">Logout</a>
  <a [hidden]="!auth.isLoggedIn" md-tab-link routerLink="/installation" routerLinkActive="active" #inst="routerLinkActive" [active]="inst.isActive">Installation</a>
  <a [hidden]="!auth.isLoggedIn" md-tab-link routerLink="/configuration" routerLinkActive="active" #conf="routerLinkActive" [active]="conf.isActive">Configuration</a>
  <a [hidden]="!auth.isLoggedIn" md-tab-link routerLink="/progress" routerLinkActive="active" #prog="routerLinkActive" [active]="prog.isActive">Progress</a>
  <a md-tab-link routerLink="/about" routerLinkActive="active" #abou="routerLinkActive" [active]="abou.isActive">About</a>
</nav>
<router-outlet></router-outlet>